---
import NavButton from "./NavButton.astro";
---

<nav class="container relative mx-auto p-6">
  <div class="flex items-center justify-between">
    <div class="pt-2">
      <img src="/logo.svg" alt="Manage" />
    </div>
    <div class="hidden space-x-6 md:flex">
      <a href="/" class="hover:text-theme-dark-grayish-blue">Pricing</a>
      <a href="/" class="hover:text-theme-dark-grayish-blue">Product</a>
      <a href="/" class="hover:text-theme-dark-grayish-blue">About Us</a>
      <a href="/" class="hover:text-theme-dark-grayish-blue">Careers</a>
      <a href="/" class="hover:text-theme-dark-grayish-blue">Community</a>
    </div>
    <NavButton label="Get Started" link="/" classes="hidden md:block" />
    <button id="menu-btn" class="hamburger block md:hidden">
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>
  </div>
</nav>

<div class="md:hidden">
  <div
    id="menu"
    class="spacy-y-6 absolute left-6 right-6 mt-10 hidden flex-col items-center self-end bg-white py-8 font-bold drop-shadow-md sm:w-auto sm:self-center"
  >
    <a href="/" class="hover:text-theme-dark-grayish-blue">Pricing</a>
    <a href="/" class="hover:text-theme-dark-grayish-blue">Product</a>
    <a href="/" class="hover:text-theme-dark-grayish-blue">About Us</a>
    <a href="/" class="hover:text-theme-dark-grayish-blue">Careers</a>
    <a href="/" class="hover:text-theme-dark-grayish-blue">Community</a>
  </div>
</div>

<script>
  const btn = document.getElementById("menu-btn") as HTMLButtonElement;
  const nav = document.getElementById("menu") as HTMLDivElement;
  btn.addEventListener("click", () => {
    btn.classList.toggle("open");
    nav.classList.toggle("flex");
    nav.classList.toggle("hidden");
  });
</script>
