---
import TestimonialItem from "./TestimonialItem.astro";
import NavButton from "./NavButton.astro";
---

<section id="testimonials">
  <div class="mx-auto mt-32 max-w-6xl px-5 text-center">
    <h2 class="text-center text-4xl font-bold">
      What's Different About Manage?
    </h2>
    <div class="mt-24 flex flex-col md:flex-row md:space-x-6">
      <TestimonialItem
        avatar="/src/assets/avatar-anisha.png"
        author="Anisha Li"
        content=`"Manage has supercharged our team's workflow. The ability to maintain visibility on larger milestones at all times keeps everyone motivated."`
        classes="flex"
      />
      <TestimonialItem
        avatar="/src/assets/avatar-ali.png"
        author="Ali Bravo"
        content=`"We have been able to cancel so many other subscriptions since using Manage.  There is no more cross-channel confusion and everyone is much more focused."`
        classes="hidden md:flex"
      />
      <TestimonialItem
        avatar="/src/assets/avatar-richard.png"
        author="Richard Longwood"
        content=`"What can I say?  Manage is simply the best!  Our productivity has increased 3-fold since implementing this service"`
        classes="hidden md:flex"
      />
    </div>
    <div class="my-16">
      <NavButton label="Get Started" link="/" />
    </div>
  </div>
</section>
